@import"./blog";
@import"./variables";
@import"./card";

* {
    font-family: 'Lato', sans-serif;
    margin: 0;
    padding: 0;
}

body {
    background-color: #f0f0f0;
    
}

.header {
    height: 50px;
    background: $menuColor;
    padding: 0 20px;
    color: white;
    position: sticky;
    top: 0;
}


.content {
    height: 160vh;
    display: flex;
    color: white;
    justify-content: center;
}


.footer {
    height: 50vh;
    background-color: $menuColor;
}
.section-blog{
    h2 {
        color: #232323;
        text-align: center;
        margin: 3rem 0 ;
        font-size: 38px;
      }
      .logo{
        margin:  0;
    }
      h3 {
        color: #ffffff;
        padding: 10px 10px 10px 20px;
        font-size: 28px;
        background: #2d2524;
        margin-bottom: 15px;
      }
}

.face{
    background: #305097;
}
.twi{
    background: #00aced;
}
.goo{
    background: #db4a39;
}

@media screen and (max-width:769px) {
.section-blog {
    h2 {
        font-size: 26px;
        margin: 2rem 0 ;
    }
    h3{
        width: 90%;
        margin: 15px 0;
        font-size: 22px;
    }
   
}

}