@import"./leave";

*{
    margin: 0;
    padding: 0;
    font-family: 'Lato', sans-serif;
    font-weight: 100;
}
body{
    letter-spacing: 1.5px;
}
.face{
    background: #305097;
}
.twi{
    background: #00aced;
}
.goo{
    background: #db4a39;
}